.bottom-row {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.inner-list {
  border-radius: 5px;
  background-color: $list-bg;
}

.list-row {
  @include custom-transition($row-trans, $row-trans-func, $row-trans-delay);

  &:hover {
    background-color: $row-hover-color;
  }

  a {
    color: black;
  }
  padding: 5px;
}

.poll-list {
  margin-top: 50px;
}

.title {
  text-align: center;
}

.top-row {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
